<!-- Home PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Home PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Home PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<div class="AgentApplication" style="width: 1512px; height: 982px; position: relative; background: white">
  
  <div class="Menu" style="width: 86px; height: 982px; left: 0px; top: 0px; position: absolute">
    <div class="Rectangle10" style="width: 86px; height: 982px; left: 0px; top: 0px; position: absolute; background: #DAC9FF"></div>

    <a href="home" routerLink="../home">
    <!-- Add Home Icon -->
    <div class="Home" style="width: 64px; height: 64px; left: 10px; top: 148px; position: absolute">
      <div class="img"><img src="../assets/images/homeBOLD.svg" alt=""></div>
    </div>
    </a>

    <a href="user" routerLink="../user">
    <!-- Add Profile Icon -->
    <img class="ProfilePhoto" style="width: 62px; height: 62px; left: 11.50px; top: 31px; position: absolute; border-radius: 9999px" src="../assets/images/profile photo.svg" />
    </a>


    <a href="user" routerLink="../user">
    <!-- Add User Icon -->
    <div class="User" style="width: 32.86px; height: 36.97px; left: 26px; top: 333px; position: absolute">
      <div class="img"><img src="../assets/images/user.svg" alt=""></div>
    </div>
    </a>

    <a href="product" routerLink="../product">
    <!-- Add Product Icon -->
      <div class="Product" style="width: 38px; height: 40.57px; left: 26px; top: 252px; position: absolute">
      <div class="img"> <img src="../assets/images/product.svg" alt=""></div>
    </div>
    </a>

    <a href="home" routerLink="../home">
    <!-- Add Organisation Icon -->
    <div class="Organisation" style="width: 38px; height: 38px; left: 23px; top: 917px; position: absolute">
      <div class="img"><img src="../assets/images/Organisation.svg" alt=""></div>
    </div>
  </a>
  </div>

  <!-- Adding Commission Icon-->
  <div class="Group1" style="width: 97px; height: 29px; left: 1391px; top: 931px; position: absolute">
    <div class="Group" style="width: 19px; height: 19px; left: 78px; top: 0px; position: absolute">
      <div class="Vector"><img src="../assets/images/Group.svg" alt=""></div>
    </div>

    <div class="Commision24" style="left: 0px; top: 14px; position: absolute; text-align: center"><span style="color: #001A72; font-size: 12px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; letter-spacing: 0.36px; word-wrap: break-word">Commision</span><span style="color: #7B61FF; font-size: 12px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; letter-spacing: 0.36px; word-wrap: break-word"> 24</span></div>
  </div>
  
  
  <!-- Adding Question ?-->
  <a href="">
    <div class="Group" style="width: 18px; height: 18px; left: 1473px; top: 22px; position: absolute">
    <div class="Vector"><img src="../assets/images/GroupQsn.svg" alt=""></div>
  </div>
  </a>

  <!-- Product Graph ?-->
  <div class="ProductsGraph" style="width: 360px; height: 344px; left: 615px; top: 148px; position: absolute">
    <div class="Rectangle739" style="width: 360px; height: 344px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 0.50px #E6E8EC solid"></div>
    <div class="ProductsSoldThroughLinkClicks" style="left: 24px; top: 24px; position: absolute; color: #23262F; font-size: 18px; font-family: Manrope; font-weight: 700; line-height: 40px; word-wrap: break-word">Products sold through link clicks</div>

     <!-- SHAPES RECTANGLE ?-->
    <div class="Graph" style="width: 308px; height: 144px; left: 26px; top: 76px; position: absolute; justify-content: center; align-items: flex-end; gap: 16px; display: inline-flex">
      <div class="Group1000000804" style="width: 65px; position: relative">
        <div class="A" style="left: -37px; top: -18px; position: absolute; color: #828282; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">a</div>
        <div style="left: -37px; top: -60px; position: absolute; color: #828282; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">1</div>

        <div class="Rectangle20" style="width: 65px; height: 21px; left: -65px; top: -40px; position: absolute; background: #FABE7A; border-top-left-radius: 8px; border-top-right-radius: 8px"></div>
      </div>

      <div class="Group1000000803" style="height: 117px; position: relative">
        <div class="B" style="left: -33px; top: 101px; position: absolute; color: #828282; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">b</div>
        <div style="left: -33px; top: 0px; position: absolute; color: #828282; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">5</div>
        <div class="Rectangle21" style="width: 65px; height: 77px; left: -61px; top: 20px; position: absolute; background: #F6866A; border-top-left-radius: 8px; border-top-right-radius: 8px"></div>
      </div>

      <div class="Group1000000802" style="width: 65px; position: relative">
        <div class="C" style="left: 29px; top: -16px; position: absolute; color: #828282; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">c</div>
        <div style="left: 29px; top: -80px; position: absolute; color: #828282; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">3</div>
        <div class="Rectangle22" style="width: 65px; height: 44px; left: 0px; top: -64px; position: absolute; background: #59E6F6; border-top-left-radius: 8px; border-top-right-radius: 8px"></div>
      </div>

      <div class="Group1000000801" style="height: 144px; position: relative">
        <div class="D" style="left: 29px; top: 128px; position: absolute; color: #828282; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">d</div>
        <div style="left: 26px; top: 0px; position: absolute; color: #828282; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">10</div>
        <div class="Rectangle23" style="width: 65px; height: 104px; left: 0px; top: 20px; position: absolute; background: #7661E2; border-top-left-radius: 8px; border-top-right-radius: 8px"></div>
      </div>

    </div>


    <div class="Group1000000805" style="width: 308px; height: 64px; left: 26px; top: 247px; position: absolute">
      <div class="Frame1000000806" style="width: 134px; height: 64px; left: 174px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
        <div class="Frame1000000803" style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="Group35" style="width: 26px; height: 26px; position: relative">
            <div class="Rectangle18" style="width: 26px; height: 26px; left: 0px; top: 0px; position: absolute; background: #F6866A; border-radius: 4px"></div>
            <div class="B" style="left: 9px; top: 4px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">b</div>
          </div>
          <div class="EcoBottle1l" style="color: #828282; font-size: 14px; font-family: Manrope; font-weight: 600; word-wrap: break-word">Eco Bottle (1L)</div>
        </div>
        <div class="Frame1000000804" style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="Group34" style="width: 26px; height: 26px; position: relative">
            <div class="Rectangle18" style="width: 26px; height: 26px; left: 0px; top: 0px; position: absolute; background: #7661E2; border-radius: 4px"></div>
            <div class="D" style="left: 9px; top: 4px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">d</div>
          </div>
          <div class="ImbizoBowls" style="color: #828282; font-size: 14px; font-family: Manrope; font-weight: 600; word-wrap: break-word">Imbizo Bowls</div>
        </div>
      </div>
      <div class="Frame1000000805" style="width: 157px; height: 64px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
        <div class="Frame1000000801" style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="Group41" style="width: 26px; height: 26px; position: relative">
            <div class="Rectangle18" style="width: 26px; height: 26px; left: 0px; top: 0px; position: absolute; background: #FABE7A; border-radius: 4px"></div>
            <div class="A" style="left: 9px; top: 3px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">a</div>
          </div>
          <div class="GiantCanister87l" style="color: #828282; font-size: 14px; font-family: Manrope; font-weight: 600; text-transform: lowercase; word-wrap: break-word">GIANT CANISTER 8.7L</div>
        </div>
        <div class="Frame1000000802" style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div class="Group36" style="width: 26px; height: 26px; position: relative">
            <div class="Rectangle18" style="width: 26px; height: 26px; left: 0px; top: 0px; position: absolute; background: #59E6F6; border-radius: 4px"></div>
            <div class="C" style="left: 9px; top: 3px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 600; word-wrap: break-word">c</div>
          </div>
          <div class="InsparationTray" style="color: #828282; font-size: 14px; font-family: Manrope; font-weight: 600; word-wrap: break-word">Insparation tray</div>
        </div>
      </div>
    </div>

</div>


 <!-- WALLET ?-->
  <div class="Wallet" style="width: 360px; height: 344px; left: 231px; top: 148px; position: absolute">
    <div class="Rectangle739" style="width: 360px; height: 344px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 0.50px #E6E8EC solid"></div>
    <div class="Wallet" style="left: 24px; top: 24px; position: absolute; color: #23262F; font-size: 18px; font-family: Manrope; font-weight: 700; line-height: 40px; word-wrap: break-word">Wallet</div>
    <div class="TotalEarningsThisMonth" style="left: 24px; top: 142px; position: absolute; color: #23262F; font-size: 18px; font-family: Manrope; font-weight: 700; line-height: 40px; word-wrap: break-word">Total Earnings this Month</div>
    <div class="TotalEarningsOnPlatform" style="left: 18px; top: 242px; position: absolute; color: #23262F; font-size: 18px; font-family: Manrope; font-weight: 700; line-height: 40px; word-wrap: break-word">Total Earnings on platform</div>
    <div class="R520" style="left: 24px; top: 87px; position: absolute; color: #828282; font-size: 18px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">R 520</div>
    <div class="R220" style="left: 23px; top: 195px; position: absolute; color: #828282; font-size: 18px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">R 220</div>
    <div class="R1400" style="left: 21px; top: 285px; position: absolute; color: #828282; font-size: 18px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">R 1400</div>
    
    <button type="Withdraw" style="width: 136px; border: none; transition-duration: 0,4s; height: 36px; left: 204px; top: 89px; position: absolute; text-align: center; color: white; background: #7B61FF; font-size: 12px; font-family: Open Sans; font-weight: 700; text-transform: capitalize; letter-spacing: 0.36px; word-wrap: break-word">Withdraw</button>
    
    <div class="R120SoldToday" style="width: 289px; height: 14.24px; left: 24px; top: 109px; position: absolute; color: #828282; font-size: 12px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">R120 Sold today</div>
    <div class="R20BetterThanLastMonth" style="width: 289px; height: 14.24px; left: 23px; top: 217px; position: absolute; color: #828282; font-size: 12px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">R20 Better than last month</div>
    <div class="SinceMarch2023" style="width: 289px; height: 14.24px; left: 23px; top: 305px; position: absolute; color: #828282; font-size: 12px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Since March 2023</div>
    <div class="Line6" style="width: 302.01px; height: 0px; left: 26px; top: 145px; position: absolute; border: 0.50px rgba(123, 97, 255, 0.12) solid"></div>
    <div class="Line7" style="width: 302.01px; height: 0px; left: 24px; top: 242px; position: absolute; border: 0.50px rgba(123, 97, 255, 0.12) solid"></div>
  </div>
  <div class="Project" style="width: 741px; height: 407px; left: 231px; top: 510px; position: absolute">
    <div class="Rectangle742" style="width: 741px; height: 407px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 39px 9px rgba(81, 69, 159, 0.09); border-radius: 10px; border: 0.50px solid"></div>
    <div class="Frame1000000799" style="width: 146px; height: 19px; left: 526px; top: 34px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 45px; display: inline-flex">
      <div class="Frame1000000797" style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
        <div class="Ellipse1079" style="width: 10px; height: 10px; background: #FB896B; border-radius: 9999px"></div>
        <div class="Views" style="color: #787486; font-size: 14px; font-family: Manrope; font-weight: 400; word-wrap: break-word">views</div>
      </div>
      <div class="Frame1000000798" style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
        <div class="Ellipse1078" style="width: 10px; height: 10px; background: #6956E5; border-radius: 9999px"></div>
        <div class="Buys" style="color: #787486; font-size: 14px; font-family: Manrope; font-weight: 400; word-wrap: break-word">Buys</div>
      </div>
    </div>


    <!-- BUYS AND VIEWS-->
    <div class="BuysVsViews" style="left: 24px; top: 24px; position: absolute; color: #23262F; font-size: 18px; font-family: Manrope; font-weight: 700; line-height: 40px; word-wrap: break-word">Buys vs Views</div>
    <div class="Frame34446" style="width: 14px; height: 272px; left: 24px; top: 88px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 22px; display: inline-flex">
      <div style="text-align: right; color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">12</div>
      <div style="text-align: right; color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">10</div>
      <div style="text-align: right; color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">8</div>
      <div style="text-align: right; color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">6</div>
      <div style="text-align: right; color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">4</div>
      <div style="text-align: right; color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">2</div>
      <div style="text-align: right; color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">0</div>
    </div>

    <div class="HorizontalLines" style="width: 645px; height: 252px; left: 58px; top: 100px; position: absolute">
      <div class="Line5" style="width: 645px; height: 0px; left: 0px; top: 0px; position: absolute; border: 0.50px #F3F4F6 solid"></div>
      <div class="Line6" style="width: 645px; height: 0px; left: 0px; top: 42px; position: absolute; border: 0.50px #F3F4F6 solid"></div>
      <div class="Line7" style="width: 645px; height: 0px; left: 0px; top: 84px; position: absolute; border: 0.50px #F3F4F6 solid"></div>
      <div class="Line3" style="width: 645px; height: 0px; left: 0px; top: 126px; position: absolute; border: 0.50px #F3F4F6 solid"></div>
      <div class="Line8" style="width: 645px; height: 0px; left: 0px; top: 168px; position: absolute; border: 0.50px #F3F4F6 solid"></div>
      <div class="Line9" style="width: 645px; height: 0px; left: 0px; top: 210px; position: absolute; border: 0.50px #F3F4F6 solid"></div>
      <div class="Line4" style="width: 645px; height: 0px; left: 0px; top: 252px; position: absolute; border: 0.50px #F3F4F6 solid"></div>
      <div class="Vector25" style="width: 0px; height: 147px; left: 394px; top: 102px; position: absolute; border: 0.50px #E2E4E9 dotted"></div>
    </div>

    <div class="Frame34445" style="width: 652px; height: 20px; left: 58px; top: 363px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 66px; display: inline-flex">
      <div class="Oct2021" style="color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Oct 2021</div>
      <div class="Nov2021" style="color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Nov 2021</div>
      <div class="Dec2021" style="color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Dec 2021</div>
      <div class="Jan2022" style="color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Jan 2022</div>
      <div class="Feb2022" style="color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Feb 2022</div>
      <div class="Mar2022" style="color: #6B7280; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Mar 2022</div>
    </div>

    <!-- LINES LINES-->
    <div class="Vector18" style="width: 645px; height: 60px; left: 72px; top: 192px; position: absolute; border: 2px #FB896B solid"></div>

    <div class="Vector20" style="width: 645px; height: 74.61px; left: 72px; top: 212.97px; position: absolute; border: 2px #6956E5 solid"></div>

    <div class="Vector21" style="width: 645px; height: 74.60px; left: 72px; top: 222.98px; position: absolute; box-shadow: 14px 14px 14px; border: 2px #BEB5F4 solid; filter: blur(14px)"></div>

    <div class="Vector19" style="width: 645px; height: 60px; left: 72px; top: 199px; position: absolute; box-shadow: 14px 14px 14px; border: 2px rgba(251, 137, 107, 0.50) solid; filter: blur(14px)"></div>
    
    <div class="Dot" style="width: 14px; height: 14px; left: 445px; top: 185px; position: absolute; background: #FB896B; box-shadow: 0px 2px 4px rgba(68.43, 68.43, 79.18, 0.15); border-radius: 7px; border: 1px white solid"></div>


    <div class="Group34436" style="width: 122px; height: 97px; left: 391px; top: 83px; position: absolute">
      <img class="Union" style="width: 200px; height: 200px; left: -39px; top: -41px; position: absolute;" src="../assets/images/Union.svg" alt="">

      <div class="Frame1000000796" style="width: 75px; height: 48px; left: 16px; top: 16px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div class="Frame34480" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">

          <div class="Frame34479" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div class="Ellipse1070" style="width: 14px; height: 14px; background: #F5866A; border-radius: 9999px"></div>
            <div class="Views" style="color: #23262F; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">7 Views</div>
          </div>

        </div>

        <div class="Frame34480" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div class="Frame34479" style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div class="Ellipse1070" style="width: 14px; height: 14px; background: #6956E5; border-radius: 9999px"></div>
            <div class="Buys" style="color: #23262F; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">5 Buys</div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="Group1000000806" style="width: 374px; height: 769px; left: 999px; top: 148px; position: absolute">
    <div class="Rectangle780" style="width: 374px; height: 769px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 12px"></div>
    <div class="Notification" style="width: 327px; height: 151.56px; left: 22px; top: 221.75px; position: absolute">
      <div class="Rectangle781" style="width: 327px; height: 151.56px; left: 0px; top: 0px; position: absolute; background: rgba(123, 97, 255, 0.12); border-radius: 12px"></div>

      <a href="">
        <div class="TakeMeThere" style="left: 185px; top: 127.15px; position: absolute; text-align: right; color: #000080; font-size: 12px; font-family: Montserrat; font-weight: 400; text-transform: capitalize; letter-spacing: 0.10px; word-wrap: break-word">Take me to Order </div></a>
      
      <div class="Line7" style="width: 302px; height: 0px; left: 12px; top: 117.99px; position: absolute; border: 0.50px rgba(123, 97, 255, 0.12) solid"></div>
      <div class="Line6" style="width: 302.01px; height: 0px; left: 12px; top: 47.81px; position: absolute; border: 0.50px rgba(123, 97, 255, 0.12) solid"></div>

      <div class="Notification" style="left: 47px; top: 19.33px; position: absolute; color: black; font-size: 18px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Notification</div>
      <div class="Group" style="width: 16px; height: 17.29px; left: 14px; top: 21.36px; position: absolute"><img src="../assets/images/flag blue.svg" alt="">
      </div>
      <div class="Group" style="width: 8px; height: 8.14px; left: 300px; top: 20.45px; position: absolute"><img src="../assets/images/Exit.svg" alt="">
      </div>

      <a href="">
        <div class="CeoRequestedChangeToWorkflow" style="width: 289px; height: 14.24px; left: 19px; top: 60.01px; position: absolute; color: black; font-size: 12px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Order for Imbizo Bowl has been placed</div>
      <div class="Group" style="width: 10px; height: 8.14px; left: 295px; top: 125.15px; position: absolute"><img src="../assets/images/take order.svg" alt="">
      </div>
      </a>
      
    </div>

    <!-- ANNOUNCEMENT CARD ?-->
    <div class="AnnouncementCard" style="width: 327px; height: 151.56px; left: 23px; top: 55.95px; position: absolute">
      <div class="Rectangle781" style="width: 327px; height: 151.56px; left: 0px; top: 0px; position: absolute; background: rgba(123, 97, 255, 0.12); border-radius: 12px"></div>
      <div class="IncreaseFromLastWeek" style="left: 19px; top: 91.55px; position: absolute; color: #001A72; font-size: 12px; font-family: Open Sans; font-weight: 400; text-transform: lowercase; letter-spacing: 0.10px; word-wrap: break-word">20% Increase from Last month</div>
      <div class="Line7" style="width: 302px; height: 0px; left: 12px; top: 117.99px; position: absolute; border: 0.50px rgba(123, 97, 255, 0.12) solid"></div>
      <div class="Line6" style="width: 302.01px; height: 0px; left: 12px; top: 47.81px; position: absolute; border: 0.50px rgba(123, 97, 255, 0.12) solid"></div>
      <div class="Anouncement" style="left: 47px; top: 19.33px; position: absolute; color: black; font-size: 18px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Anouncement</div>

      <div class="Vector3" style="width: 21.94px; height: 18.31px; left: 12px; top: 14.36px; position: absolute"><img src="../assets/images/Announce.svg" alt=""></div>

      <div class="Group" style="width: 8px; height: 8.14px; left: 300px; top: 20.45px; position: absolute"><img src="../assets/images/Exit.svg" alt="">
      </div>

      <div class="Like" style="width: 18px; height: 18.53px; left: 292px; top: 124.10px; position: absolute"><img src="../assets/images/like.svg" alt="">
      </div>

      <div class="WeHaveResolved32QueriesThisWeek" style="width: 289px; height: 14.24px; left: 19px; top: 60.01px; position: absolute; color: black; font-size: 12px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">We have sold 19 products this month</div>
    </div>

    <div class="Notifications" style="width: 115px; height: 40.69px; left: 23px; top: 11.19px; position: absolute; color: #23262F; font-size: 18px; font-family: Manrope; font-weight: 700; line-height: 40px; word-wrap: break-word">Notifications</div>
  </div>

  <!-- Adding Greeting Title -->
  <div class="Greeting" style="width: 377px; height: 53px; left: 127px; top: 40px; position: absolute">
    <div class="GoodMorningFiona" style="width: 377px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Good morning, </span><span style="color: black; font-size: 24px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Fiona</span></div>
    <div class="HopeYouHaveAWonderfullMorning" style="left: 0px; top: 28px; position: absolute; color: #34A853; font-size: 18px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Hope you have a wonderfull morning</div>
 </div>

</div>