<!-- Product PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Product PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Product PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<div class="AgentApplication" style="width: 1512px; height: 982px; position: relative; background: white">

    <div class="Menu" style="width: 86px; height: 982px; left: 0px; top: 0px; position: absolute">
      <div class="Rectangle10" style="width: 86px; height: 982px; left: 0px; top: 0px; position: absolute; background: #DAC9FF"></div>
  
      <a href="home" routerLink="../home">
      <!-- Add Home Icon -->
      <div class="Home" style="width: 64px; height: 64px; left: 26.5px; top: 161px; position: absolute">
        <div class="img"><img src="../assets/images/home.svg" alt=""></div>
      </div>
      </a>
  
      <a href="user" routerLink="../user">
      <!-- Add Profile Icon -->
      <img class="ProfilePhoto" style="width: 62px; height: 62px; left: 11.50px; top: 31px; position: absolute; border-radius: 9999px" src="../assets/images/profile photo.svg" />
      </a>
  
  
      <a href="user" routerLink="../user">
      <!-- Add User Icon -->
      <div class="User" style="width: 32.86px; height: 36.97px; left: 26px; top: 333px; position: absolute">
        <div class="img"><img src="../assets/images/user.svg" alt=""></div>
      </div>
      </a>
  
      <a href="product.component.html" routerLink="../product">
      <!-- Add Product Icon -->
        <div class="Product" style="width: 38px; height: 40.57px; left: 9px; top: 240px; position: absolute">
        <div class="img"> <img src="../assets/images/productBOLD.svg" alt=""></div>
      </div>
      </a>
  
      <a href="home" routerLink="../home">
      <!-- Add Organisation Icon -->
      <div class="Organisation" style="width: 38px; height: 38px; left: 23px; top: 917px; position: absolute">
        <div class="img"><img src="../assets/images/Organisation.svg" alt=""></div>
      </div>
    </a>
    </div>
  
    <!-- Adding Commission Icon-->
    <div class="Group1" style="width: 97px; height: 29px; left: 1391px; top: 931px; position: absolute">
      <div class="Group" style="width: 19px; height: 19px; left: 78px; top: 0px; position: absolute">
        <div class="Vector"><img src="../assets/images/Group.svg" alt=""></div>
      </div>
  
      <div class="Commision24" style="left: 0px; top: 14px; position: absolute; text-align: center"><span style="color: #001A72; font-size: 12px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; letter-spacing: 0.36px; word-wrap: break-word">Commision</span><span style="color: #7B61FF; font-size: 12px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; letter-spacing: 0.36px; word-wrap: break-word"> 24</span></div>
    </div>
    
    
    <!-- Adding Question ?-->
    <a href="">
      <div class="Group" style="width: 18px; height: 18px; left: 1473px; top: 22px; position: absolute">
      <div class="Vector"><img src="../assets/images/GroupQsn.svg" alt=""></div>
    </div>
    </a>
  
    <!-- Add Tupperware Head ?-->
    <div class="Tupperwarerus" style="width: 194px; left: 127px; top: 125px; position: absolute; color: #828282; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">TupperwareRus</div>
    <div class="Line6" style="width: 1270px; height: 0px; left: 127px; top: 161.04px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
    <img class="CroppedFilmacc31" style="width: 200px; height: 66px; left: 1191px; top: 87px; position: absolute" src="../assets/images/tupperware.png" />
  
  
  <!-- Product Card Canister ?-->
    <div class="ProductCard" style="width: 302px; height: 463px; left: 449px; top: 202px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 12px">
        <div class="Info" style="width: 265px; height: 25px; left: 15px; top: 209px; position: absolute">
            <div class="Sku" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">SKU</div>
            <div class="Sku997148" style="width: 128px; left: 137px; top: 0px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">SKU# 997148</div>
        </div>
  
        <div class="Info" style="width: 265px; height: 25px; left: 13px; top: 247px; position: absolute">
            <div class="Price" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Price</div>
            <div class="R200" style="width: 128px; left: 137px; top: 0px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">R200</div>
        </div>
  
        <div class="Info" style="width: 264.94px; left: 13px; top: 285px; position: absolute">
            <div class="Reviews" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Reviews</div>
  
  
            <div class="Rating" style="width: 96.94px; height: 16px; left: 168px; top: 4px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex ">
              <img src="../assets/images/Rating.svg" alt="">
            </div>
  
  
        </div>
        <img class="Rectangle23" style="width: 302px; height: 148px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 12px; border-top-right-radius: 12px" src="../assets/images/Canister.png" />
        <div class="ImbizoBowls" style="left: 13px; top: 151px; position: absolute; color: black; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">GIANT CANISTER 8.7L</div>
        <div class="Line6" style="width: 274px; height: 0px; left: 11px; top: 192px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
        <div class="Line7" style="width: 274px; height: 0px; left: 11px; top: 402px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
  
        <a href="">
            <div class="Group" style="width: 20px; height: 14px; left: 210px; top: 427px; position: absolute">
              <img src="../assets/images/review.svg" alt="">
            </div>
      
            <div class="GenerateLink" style="left: 110px; top: 427px; position: absolute; color: #7B61FF; font-size: 12px; font-family: Play; font-weight: 700; word-wrap: break-word">Generate Link</div>
        </a>
  
    </div>
  
  <!-- Product Card Tray ?-->
    <div class="ProductCard" style="width: 302px; height: 463px; left: 771px; top: 202px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 12px">
        <div class="Info" style="width: 265px; height: 25px; left: 15px; top: 209px; position: absolute">
            <div class="Sku" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">SKU</div>
            <div class="Sku997148" style="width: 128px; left: 137px; top: 0px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">SKU# 997148</div>
        </div>
        <div class="Info" style="width: 265px; height: 25px; left: 13px; top: 247px; position: absolute">
            <div class="Price" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Price</div>
            <div class="R200" style="width: 128px; left: 137px; top: 0px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">R200</div>
        </div>
        <div class="Info" style="width: 264.94px; left: 13px; top: 285px; position: absolute">
            <div class="Reviews" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Reviews</div>
  
            <div class="Rating" style="width: 96.94px; height: 16px; left: 168px; top: 4px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex ">
              <img src="../assets/images/Rating.svg" alt="">
            </div>
        </div>
        <img class="Rectangle23" style="width: 302px; height: 148px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 12px; border-top-right-radius: 12px" src="../assets/images/Tray.png" />
        <div class="ImbizoBowls" style="left: 13px; top: 151px; position: absolute; color: black; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">Insparation tray</div>
        <div class="Line6" style="width: 274px; height: 0px; left: 11px; top: 192px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
        <div class="Line7" style="width: 274px; height: 0px; left: 11px; top: 402px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
  
        <a href="">
            <div class="Group" style="width: 20px; height: 14px; left: 210px; top: 427px; position: absolute">
              <img src="../assets/images/review.svg" alt="">
            </div>
      
            <div class="GenerateLink" style="left: 110px; top: 427px; position: absolute; color: #7B61FF; font-size: 12px; font-family: Play; font-weight: 700; word-wrap: break-word">Generate Link</div>
        </a>
  
    </div>
  
  <!-- Product Card Bottle ?-->
    <div class="ProductCard" style="width: 302px; height: 463px; left: 1095px; top: 198px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 12px">
        <div class="Info" style="width: 265px; height: 25px; left: 15px; top: 209px; position: absolute">
            <div class="Sku" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">SKU</div>
            <div class="Sku997148" style="width: 128px; left: 137px; top: 0px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">SKU# 997148</div>
        </div>
        <div class="Info" style="width: 265px; height: 25px; left: 13px; top: 247px; position: absolute">
            <div class="Price" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Price</div>
            <div class="R200" style="width: 128px; left: 137px; top: 0px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">R100</div>
        </div>
        <div class="Info" style="width: 264.94px; left: 13px; top: 285px; position: absolute">
            <div class="Reviews" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Reviews</div>
  
            <div class="Rating" style="width: 96.94px; height: 16px; left: 168px; top: 4px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex ">
              <img src="../assets/images/Rating.svg" alt="">
            </div>
        </div>
        <img class="Rectangle23" style="width: 302px; height: 148px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 12px; border-top-right-radius: 12px" src="../assets/images/bottle.png" />
        <div class="ImbizoBowls" style="left: 13px; top: 151px; position: absolute; color: black; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">Eco Bottle (1L)</div>
        <div class="Line6" style="width: 274px; height: 0px; left: 11px; top: 192px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
        <div class="Line7" style="width: 274px; height: 0px; left: 11px; top: 402px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
  
        <a href="">
          <div class="Group" style="width: 20px; height: 14px; left: 210px; top: 427px; position: absolute">
            <img src="../assets/images/review.svg" alt="">
          </div>
    
          <div class="GenerateLink" style="left: 110px; top: 427px; position: absolute; color: #7B61FF; font-size: 12px; font-family: Play; font-weight: 700; word-wrap: break-word">Generate Link</div>
      </a>
    </div>
  
  <!-- Product Card Bowl ?-->
    <div class="ProductCard" style="width: 302px; height: 463px; left: 127px; top: 199px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 12px">
        <div class="Info" style="width: 265px; height: 25px; left: 15px; top: 209px; position: absolute">
            <div class="Sku" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">SKU</div>
            <div class="Sku997148" style="width: 128px; left: 137px; top: 0px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">SKU# 997148</div>
        </div>
        <div class="Info" style="width: 265px; height: 25px; left: 13px; top: 247px; position: absolute">
            <div class="Price" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Price</div>
            <div class="R200" style="width: 128px; left: 137px; top: 0px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">R200</div>
        </div>
        <div class="Info" style="width: 264.94px; left: 13px; top: 285px; position: absolute">
            <div class="Reviews" style="width: 128px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Reviews</div>
  
            <div class="Rating" style="width: 96.94px; height: 16px; left: 168px; top: 4px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex ">
              <img src="../assets/images/Rating.svg" alt="">
            </div>
  
        </div>
        <img class="Rectangle23" style="width: 302px; height: 148px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 12px; border-top-right-radius: 12px" src="../assets/images/Bowls.png" />
        <div class="ImbizoBowls" style="left: 13px; top: 151px; position: absolute; color: black; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">Imbizo Bowls</div>
        <div class="Line6" style="width: 274px; height: 0px; left: 11px; top: 192px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
        <div class="Line7" style="width: 274px; height: 0px; left: 11px; top: 402px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
  
        <a href="">
          <div class="Group" style="width: 20px; height: 14px; left: 210px; top: 427px; position: absolute">
            <img src="../assets/images/review.svg" alt="">
          </div>
    
          <div class="GenerateLink" style="left: 110px; top: 427px; position: absolute; color: #7B61FF; font-size: 12px; font-family: Play; font-weight: 700; word-wrap: break-word">Generate Link</div>
      </a>
    </div>
  
    <div class="AddCommisionToCardMakeVisable" style="left: 182px; top: 545px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Add commision to card  make visable</div>
  
  
    <!-- Adding Greeting Title -->
    <div class="Greeting" style="width: 377px; height: 53px; left: 127px; top: 40px; position: absolute">
      <div class="GoodMorningFiona" style="width: 377px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Good morning, </span><span style="color: black; font-size: 24px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Fiona</span></div>
      <div class="HopeYouHaveAWonderfullMorning" style="left: 0px; top: 28px; position: absolute; color: #34A853; font-size: 18px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Hope you have a wonderfull morning</div>
   </div>
  
  </div>