<!-- User PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ User PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ User PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<div class="AgentApplication" style="width: 100%; height: 100%; position: relative; background: white">
    <div class="Menu" style="width: 86px; height: 982px; left: 0px; top: 0px; position: absolute">
        <div class="Rectangle10" style="width: 86px; height: 982px; left: 0px; top: 0px; position: absolute; background: #DAC9FF"></div>
    
        <a href="home" routerLink="../home">
        <!-- Add Home Icon -->
        <div class="Home" style="width: 64px; height: 64px; left: 26.5px; top: 148px; position: absolute">
          <div class="img"><img src="../assets/images/home.svg" alt=""></div>
        </div>
        </a>
    
        <a href="user" routerLink="../user">
        <!-- Add Profile Icon -->
        <img class="ProfilePhoto" style="width: 62px; height: 62px; left: 11.50px; top: 31px; position: absolute; border-radius: 9999px" src="../assets/images/profile photo.svg" />
        </a>
    
    
        <a href="user" routerLink="../user">
        <!-- Add User Icon -->
        <div class="User" style="width: 32.86px; height: 36.97px; left: 10px; top: 333px; position: absolute">
          <div class="img"><img src="../assets/images/userBOLD.svg" alt=""></div>
        </div>
        </a>
    
        <a href="product" routerLink="../product">
        <!-- Add Product Icon -->
          <div class="Product" style="width: 38px; height: 40.57px; left: 26px; top: 252px; position: absolute">
          <div class="img"> <img src="../assets/images/product.svg" alt=""></div>
        </div>
        </a>
    
        <a href="home" routerLink="../home">
        <!-- Add Organisation Icon -->
        <div class="Organisation" style="width: 38px; height: 38px; left: 23px; top: 917px; position: absolute">
          <div class="img"><img src="../assets/images/Organisation.svg" alt=""></div>
        </div>
      </a>
      </div>
    
      <!-- Adding Commission Icon-->
      <div class="Group1" style="width: 97px; height: 29px; left: 1391px; top: 931px; position: absolute">
        <div class="Group" style="width: 19px; height: 19px; left: 78px; top: 0px; position: absolute">
          <div class="Vector"><img src="../assets/images/Group.svg" alt=""></div>
        </div>
    
        <div class="Commision24" style="left: 0px; top: 14px; position: absolute; text-align: center"><span style="color: #001A72; font-size: 12px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; letter-spacing: 0.36px; word-wrap: break-word">Commision</span><span style="color: #7B61FF; font-size: 12px; font-family: Montserrat; font-weight: 700; text-transform: capitalize; letter-spacing: 0.36px; word-wrap: break-word"> 24</span></div>
      </div>
      
      
      <!-- Adding Question ?-->
      <a href="">
        <div class="Group" style="width: 18px; height: 18px; left: 1473px; top: 22px; position: absolute">
        <div class="Vector"><img src="../assets/images/GroupQsn.svg" alt=""></div>
      </div>
      </a>


    <div class="Address" style="left: 172px; top: 530px; position: absolute; color: #828282; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">Address</div>
    <div class="Line5" style="width: 624px; height: 0px; left: 172px; top: 566.04px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
    <div class="Line7" style="width: 624px; height: 0px; left: 816px; top: 566px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
    <div class="PostalAddress" style="left: 816px; top: 529px; position: absolute; color: #828282; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">Postal Address</div>
    <div class="BankDetails" style="left: 172px; top: 299px; position: absolute; color: #828282; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">Bank Details</div>
    <div class="Line6" style="width: 1268px; height: 0px; left: 172px; top: 335.04px; position: absolute; border: 0.50px #D3D3D3 solid"></div>
    <div class="Line8" style="width: 1268.01px; height: 0px; left: 172px; top: 817.04px; position: absolute; border: 0.50px #D3D3D3 solid"></div>

    <div class="Expenses" style="width: 1268px; height: 57px; left: 172px; top: 363px; position: absolute">
        <div class="FionaCarey" style="width: 302px; left: 0px; top: 28px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Fiona Carey</div>
        <div class="AccountName" style="width: 302px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Commissioner; font-weight: 700; word-wrap: break-word">Account Name</div>
        <div class="Expenses" style="width: 302px; height: 57px; left: 644px; top: 0px; position: absolute">
            <div class="Current" style="width: 302px; left: 0px; top: 28px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Current</div>
            <div class="AccountType" style="width: 302px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Commissioner; font-weight: 700; word-wrap: break-word">Account Type</div>
        </div>
        <div class="Expenses" style="width: 302px; height: 57px; left: 966px; top: 0px; position: absolute">
            <div class="Fnb" style="width: 302px; left: 0px; top: 28px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">FNB</div>
            <div class="Bank" style="width: 302px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Commissioner; font-weight: 700; word-wrap: break-word">Bank</div>
        </div>
    </div>

    <div class="Expenses" style="height: 57px; left: 172px; top: 446px; position: absolute">
        <div style="width: 302px; left: 0px; top: 28px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">260201</div>
        <div class="BranchCode" style="width: 302px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Commissioner; font-weight: 700; word-wrap: break-word">Branch Code</div>
    </div>

    <div class="GreenParkEstate" style="width: 302px; left: 172px; top: 602px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Green Park estate</div>
    <div class="PeterAvenue" style="width: 302px; left: 172px; top: 642px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Peter Avenue</div>
    <div class="Randburg" style="width: 302px; left: 172px; top: 682px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Randburg</div>
    <div style="width: 302px; left: 172px; top: 722px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">2192</div>
    <div class="GreenParkEstate" style="width: 302px; left: 816px; top: 602px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Green Park estate</div>
    <div class="PeterAvenue" style="width: 302px; left: 816px; top: 642px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Peter Avenue</div>
    <div class="Randburg" style="width: 302px; left: 816px; top: 682px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Randburg</div>
    <div style="width: 302px; left: 816px; top: 722px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">2192</div>
    <div class="Contact" style="left: 172px; top: 775px; position: absolute; color: #828282; font-size: 24px; font-family: Play; font-weight: 700; word-wrap: break-word">Contact</div>
    <div class="0117992200" style="width: 302px; left: 172px; top: 875px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">(011) 799-2200</div>
    <div class="Phone" style="width: 302px; left: 172px; top: 847px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Commissioner; font-weight: 700; word-wrap: break-word">Phone</div>
    <div class="FionacareyGmailCom" style="width: 373px; height: 29px; left: 494px; top: 882px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">FionaCarey@gmail.com</div>
    <div class="Email" style="width: 302px; height: 22px; left: 494px; top: 854px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Commissioner; font-weight: 700; word-wrap: break-word">Email</div>
    <div class="Expenses" style="width: 947px; height: 68px; left: 171px; top: 209px; position: absolute">
        <div class="Fiona" style="width: 302px; left: 0px; top: 28px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Fiona</div>
        <div class="Name" style="width: 302px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Commissioner; font-weight: 700; word-wrap: break-word">Name</div>
        <div class="Carey" style="width: 302px; left: 645px; top: 39px; position: absolute; color: black; font-size: 24px; font-family: Commissioner; font-weight: 400; word-wrap: break-word">Carey</div>
        <div class="Surname" style="width: 302px; left: 645px; top: 11px; position: absolute; color: rgba(0, 0, 0, 0.72); font-size: 18px; font-family: Commissioner; font-weight: 700; word-wrap: break-word">Surname</div>
    </div>

    <a href="">
        <div class="Group" style="width: 17px; height: 17px; left: 1410px; top: 192px; position: absolute">
            <img src="../assets/images/Pencil.svg" alt="">
        </div>
    </a>

    <a href="">
        <div class="Group" style="width: 17px; height: 17px; left: 1410px; top: 540px; position: absolute">
            <img src="../assets/images/Pencil.svg" alt="">
        </div>
    </a>

    <a href="">
        <div class="Group" style="width: 666px; height: 270px; left: 762px; top: 536px; position: absolute">
            <img src="../assets/images/Pencil.svg" alt="">
        </div>
    </a>

    <!-- Adding Greeting Title -->
    <div class="Greeting" style="width: 377px; height: 53px; left: 127px; top: 40px; position: absolute">
        <div class="GoodMorningFiona" style="width: 377px; left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Good morning, </span><span style="color: black; font-size: 24px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Fiona</span></div>
        <div class="HopeYouHaveAWonderfullMorning" style="left: 0px; top: 28px; position: absolute; color: #34A853; font-size: 18px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Hope you have a wonderfull morning</div>
     </div>

</div>